.App {
  text-align: center;
}

.App-body {
  background-color: navy;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  margin-top: .25em;
  margin-bottom: .25em;
}

#generated-board-div {
  margin-top: 1em;
  margin-bottom: 1em;
}
